<html>
  <head>
    {% if title %}
    <title>{{title}} - microblog</title>
    {% else %}
    <title>microblog</title>
    {% endif %}
  </head>
  <body>
    <div>Личный сайт мотиватор:
        <a href="{{ url_for('index') }}">Главная</a>
        {% if g.user.is_authenticated %}
            | <a href="{{ url_for('notes', username=g.user.username) }}">Заметки</a>
            | <a href="{{ url_for('habits', username=g.user.username) }}">Трекер привычек</a>
            | <a href="{{ url_for('lists', username=g.user.username) }}">Списки</a>
            | <a href="{{ url_for('to_do', username=g.user.username)  }}">TO DO</a>
            | <a href="{{ url_for('logout', username=g.user.username) }}">Выйти</a>

        {% else %}
           | <a href="{{ url_for('registration') }}">Registration</a>
        {% endif %}
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>