{% extends "base.html" %}
{% block content %}

    {{ "Habits("+month+" "+year+")" }}

    <form action="", method="post", name="HabitsArchive">
    {{ form.hidden_tag() }}
    <p>
        Please Enter month
        {{ form.month }}
        Please Enter year
        {{ form.year(size=20) }}
        <input type="submit" value="Find">
        <br>
    </p>
    </form>

    List of your habits:
    <ul>
        {% for habit in habits %}
            <li>{{ habit[0] + " " }}</li>
            {% for h in habit[1] %}
                {{ h + " " }}
            {% endfor %}
        {% endfor %}
    </ul>
{% endblock %}