{% extends "base.html" %}
{% block content %}

    <form action="", method="post", name="HabitsArchive">
    {{ form.hidden_tag() }}
    <p>
        Please Enter month
        {{ form.month }}
        Please Enter year
        {{ form.year(size=20) }}
        <input type="submit" value="Find">

    </p>
    </form>

    <form action="", method="post", name="AddHabutResult">
    {{ result_form.hidden_tag() }}
    <p>
        Please Enter Day
        {{ result_form.day }}
        Please Enter month
        {{ result_form.month }}
        Please Enter year
        {{ result_form.year(size=20) }}
        Please Enter habit
        {{ result_form.habitname(size=30) }}
        Please Enter result
        {{ result_form.result(size=10) }}
        <input type="submit" value="Add">
    </p>
    </form>

    <br><br><br>
    List of your habits:
    <ul>
        {% for habit in habits %}
            <li>{{ habit[0] + " " }}</li>
            {% for h in habit[1] %}
                {{ h + " " }}
            {% endfor %}
        {% endfor %}
    </ul>

{% endblock %}