<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<h1>Hi, {{user.username}}!</h1>

    <form action="", method="post", name="add_post">
    {{ form.hidden_tag() }}
    <p>
        Enter your post:
        {{ form.body(size=80) }}
    </p>
    <p><input type="submit" value="send_post"></p>
    </form>
{% for post in posts %}
<p>
  {{post.author.username}} says: <b>{{post.body}}</b>
</p>
{% endfor %}
{% endblock %}