<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<h1>Hi, {{user.username}}! It is your notes.</h1>
{% for post in posts %}
<p>
  {{post.author.username}} says: <b>{{post.body}}</b>
</p>
{% endfor %}
{% endblock %}