{% extends "base.html" %}

{% block content %}
    <h1>Registration</h1>
    <form action="", method="post" name="registration">
    {{ form.hidden_tag() }}
        <p>
            Please enter your username
            {{ form.username(size=80) }}
        </p>
        <p>
            Please enter your email
            {{ form.email(size=80) }}
        </p>
        <p>
            Please enter your password
            {{ form.password(size=80) }}
        </p>
        <p>
            Please confirm your password
            {{ form.confirm(size=80) }}
        </p>
        
        <p><input type="submit" value="Register"></p>

    </form>
{% endblock %}